table td, table th {
    padding: 5px;
    height: 100%;
    font-size: 14px;
}

h3 {
    font-size: 18px;
}

li {
    padding-top: 5px;
}

.no-bullets {
    list-style-type: none;
}

.small {
	font-size: 9pt;
}

div.jumbotron {
    padding-top: 10px;
}

div.jumbotron p {
    font-size: 12pt;
}